<a href="https://colab.research.google.com/github/Sarim2255/-Python-Programs-Basics-to-OOP/blob/main/04_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***üü† Data Structures***

# ***1Ô∏è‚É£ LISTS***

***üîπ Definition:***

A List is an ordered, mutable (changeable) collection in Python that allows duplicate elements and stores multiple data types (integers, strings, floats, etc.).

```
my_list = [10, 20, 30, 40]
```

***üîπ Characteristics:***

‚úÖ Ordered ‚Äì maintains insertion order

‚úÖ Mutable ‚Äì can be changed after creation

‚úÖ Heterogeneous ‚Äì can contain different data types

‚úÖ Allows duplicates

‚úÖ Index-based access

# ***üîπ CRUD Operations:***

---

| Operation  | Description                | Example                                     |
| ---------- | -------------------------- | ------------------------------------------- |
| **Create** | Initialize a list          | `fruits = ["apple", "banana", "mango"]`     |
| **Read**   | Access element using index | `fruits[0] ‚Üí "apple"`                       |
| **Update** | Change an element          | `fruits[1] = "grape"`                       |
| **Delete** | Remove element             | `del fruits[2]` or `fruits.remove("apple")` |

***üîπ Common Built-in Methods:***

---

| Method          | Description                            | Example                      |
| --------------- | -------------------------------------- | ---------------------------- |
| `append(x)`     | Adds an item at the end                | `fruits.append("kiwi")`      |
| `insert(i, x)`  | Insert item at index `i`               | `fruits.insert(1, "orange")` |
| `remove(x)`     | Remove first occurrence of item        | `fruits.remove("apple")`     |
| `pop(i)`        | Remove and return element at index `i` | `fruits.pop(1)`              |
| `sort()`        | Sorts list in ascending order          | `numbers.sort()`             |
| `reverse()`     | Reverses order of list                 | `numbers.reverse()`          |
| `count(x)`      | Returns frequency of item              | `fruits.count("apple")`      |
| `extend(list2)` | Joins two lists                        | `list1.extend(list2)`        |
| `clear()`       | Empties the list                       | `fruits.clear()`             |
| `index(x)`      | Finds index of an item                 | `fruits.index("mango")`      |

In [3]:
# 1Ô∏è‚É£ Shopping cart in e-commerce:

cart = ["Milk", "Eggs", "Bread"]
cart.append("Butter")
print(cart)

['Milk', 'Eggs', 'Bread', 'Butter']

In [5]:
# 2Ô∏è‚É£ Store student marks:

marks = [90, 85, 88, 92]
average = sum(marks)/len(marks)
print(average)

88.75

In [6]:
# 3Ô∏è‚É£ Daily to-do list:

tasks = ["Study", "Workout", "Cook"]
tasks.remove("Cook")
print(tasks)

['Study', 'Workout']

In [7]:
# 4Ô∏è‚É£ Playlist in a music app:

playlist = ["Song1", "Song2"]
playlist.insert(1, "New Song")
print(playlist)

['Song1', 'New Song', 'Song2']

In [9]:
# 5Ô∏è‚É£ Storing customer names:

customers = ["Aisha", "Rehan", "Priya"]
print(customers)

['Aisha', 'Rehan', 'Priya']

In [45]:
# Tracking temperature readings:

temperatures = [32.5, 31.0, 33.2]
print(temperatures)

[32.5, 31.0, 33.2]

In [11]:
# Queue in customer service system:
queue = []
queue.append("Customer1")
queue.pop(0)
print(queue)

[]

In [10]:
# Attendance system:

attendance = ["Ali", "Sara", "Zain"]
attendance.append("Mina")
print(attendance)

['Ali', 'Sara', 'Zain', 'Mina']

In [12]:
# Restaurant menu:

menu = ["Pizza", "Burger", "Pasta"]
menu.sort()
print(menu)

['Burger', 'Pasta', 'Pizza']

In [13]:
# Data cleaning - removing duplicates:

data = [1, 2, 2, 3]
unique_data = list(set(data))
print(data)
print(unique_data)

[1, 2, 2, 3]
[1, 2, 3]

# ***üü† 2Ô∏è‚É£ TUPLES***

***üîπ Definition:***

A Tuple is an ordered, immutable (unchangeable) collection that can store multiple data types.

```
student = ("Ali", 21, "MCA")
```

***üîπ Characteristics:***

‚úÖ Ordered

‚ùå Immutable (cannot be changed after creation)

‚úÖ Allows duplicates

‚úÖ Heterogeneous

‚úÖ Faster than lists

---
# ***üîπ CRUD Operations:***

---

| Operation  | Description             | Example                     |
| ---------- | ----------------------- | --------------------------- |
| **Create** | Initialize tuple        | `colors = ("red", "green")` |
| **Read**   | Access via index        | `colors[1] ‚Üí "green"`       |
| **Update** | ‚ùå Not possible          |                             |
| **Delete** | Can delete entire tuple | `del colors`                |

---
***üîπ Common Built-in Methods:***

---
| Method     | Description        | Example      |
| ---------- | ------------------ | ------------ |
| `count(x)` | Counts occurrences | `t.count(5)` |
| `index(x)` | Finds index        | `t.index(3)` |
| `len(t)`   | Returns length     | `len(t)`     |
| `max(t)`   | Maximum value      | `max(t)`     |
| `min(t)`   | Minimum value      | `min(t)`     |

In [14]:
# Coordinates in maps:

location = (28.61, 77.23)
print(location)
print(type(location))

(28.61, 77.23)
<class 'tuple'>

In [23]:
# RGB color values:
rgb = (255, 0, 0)
print(rgb)

(255, 0, 0)

In [15]:
# Student record (name, roll, marks):
student = ("Sara", 101, 89)
print(student)

('Sara', 101, 89)

In [16]:
# Days of the week:
days = ("Mon", "Tue", "Wed", "Thu", "Fri")
print(days)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [17]:
# Fixed menu items:
menu = ("Pizza", "Burger", "Pasta")
print(menu)

('Pizza', 'Burger', 'Pasta')

In [18]:
# Login credentials:
credentials = ("admin", "12345")
print(credentials)

('admin', '12345')

In [19]:
# Product information:
product = ("ID123", "Laptop", 55000)
print(product)

('ID123', 'Laptop', 55000)

In [20]:
# 3D coordinates:
point3D = (3, 5, 8)
print(point3D)

(3, 5, 8)

In [21]:
# Immutable config settings:
config = ("localhost", 8080)
print(config)

('localhost', 8080)

In [22]:
# Database record:
record = ("A001", "Ali", 45000)
print(record)

('A001', 'Ali', 45000)

# ***üü† 3Ô∏è‚É£ DICTIONARIES***

***üîπ Definition:***

A Dictionary stores data as key-value pairs, where keys must be unique and immutable, while values can change.
```
student = {"name": "Ali", "age": 21, "course": "MCA"}
```

***üîπ Characteristics:***

‚úÖ Unordered (Python 3.6+ keeps insertion order)

‚úÖ Mutable

‚úÖ Key-value pairs

‚úÖ Keys are unique

---
# ***üîπ CRUD Operations:***

---
| Operation  | Description       | Example              |
| ---------- | ----------------- | -------------------- |
| **Create** | Define dictionary | `d = {"a":1, "b":2}` |
| **Read**   | Access via key    | `d["a"]`             |
| **Update** | Change value      | `d["b"] = 3`         |
| **Delete** | Remove item       | `del d["a"]`         |

---
***üîπ Common Built-in Methods:***

---
| Method                   | Description             | Example                      |
| ------------------------ | ----------------------- | ---------------------------- |
| `keys()`                 | Returns all keys        | `d.keys()`                   |
| `values()`               | Returns all values      | `d.values()`                 |
| `items()`                | Returns key-value pairs | `d.items()`                  |
| `get(key)`               | Safe value access       | `d.get("a")`                 |
| `update(dict2)`          | Adds multiple pairs     | `d.update({"c": 3})`         |
| `pop(key)`               | Removes by key          | `d.pop("a")`                 |
| `clear()`                | Empties dictionary      | `d.clear()`                  |
| `copy()`                 | Creates shallow copy    | `d.copy()`                   |
| `setdefault(key, value)` | Adds if key missing     | `d.setdefault("d", 4)`       |
| `fromkeys(keys, value)`  | Create dict from keys   | `dict.fromkeys(['a','b'],0)` |

In [33]:
# Student info:
student = {"name": "Aisha", "age": 21, "marks": 89}
print(student)

{'name': 'Aisha', 'age': 21, 'marks': 89}

In [32]:
# Login credentials:

user = {"username": "admin", "password": "1234"}
print(user)

{'username': 'admin', 'password': '1234'}

In [27]:
# Product details:

product = {"id": 101, "name": "Laptop", "price": 45000}
print(product)

{'id': 101, 'name': 'Laptop', 'price': 45000}

In [28]:
# Weather data:

weather = {"city": "Delhi", "temp": 30, "condition": "Sunny"}
print(weather)

{'city': 'Delhi', 'temp': 30, 'condition': 'Sunny'}

In [29]:
# Contact book:

contacts = {"Ali": "98765", "Sara": "87654"}
print(contacts)

{'Ali': '98765', 'Sara': '87654'}

In [30]:
# Employee database:

employee = {"EID": 101, "Name": "Zara", "Salary": 50000}
print(employee)

{'EID': 101, 'Name': 'Zara', 'Salary': 50000}

In [31]:
# Student marks:

marks = {"Math": 85, "English": 90}
print(marks)

{'Math': 85, 'English': 90}

In [24]:
# Library management:

books = {"Book1": "Issued", "Book2": "Available"}
print(books)

{'Book1': 'Issued', 'Book2': 'Available'}

In [25]:
# JSON-like API data:

response = {"status": "success", "code": 200}
print(response)

{'status': 'success', 'code': 200}

In [26]:
# Currency conversion rates:

rates = {"USD": 83.2, "EUR": 90.1}
print(rates)

{'USD': 83.2, 'EUR': 90.1}

# ***üü† 4Ô∏è‚É£ SETS***

***üîπ Definition:***

A Set is an unordered, mutable collection that does not allow duplicates.
```
numbers = {1, 2, 3, 4}
```

***üîπ Characteristics:***

- ‚ùå Unordered (no indexing)

- ‚úÖ Mutable

- ‚ùå No duplicates

- ‚úÖ Supports mathematical set operations (union, intersection, etc.)

---
# ***üîπ CRUD Operations:***

---

| Operation  | Description     | Example       |
| ---------- | --------------- | ------------- |
| **Create** | Define set      | `s = {1,2,3}` |
| **Read**   | Iterate through | `for i in s:` |
| **Update** | Add element     | `s.add(4)`    |
| **Delete** | Remove element  | `s.remove(2)` |

---
***üîπ Common Built-in Methods:***

---

| Method                    | Description         | Example                     |
| ------------------------- | ------------------- | --------------------------- |
| `add(x)`                  | Adds element        | `s.add(5)`                  |
| `remove(x)`               | Removes element     | `s.remove(3)`               |
| `discard(x)`              | Removes safely      | `s.discard(10)`             |
| `clear()`                 | Empties set         | `s.clear()`                 |
| `union(t)`                | Combines sets       | `s.union(t)`                |
| `intersection(t)`         | Common elements     | `s.intersection(t)`         |
| `difference(t)`           | Unique to first set | `s.difference(t)`           |
| `symmetric_difference(t)` | Elements not common | `s.symmetric_difference(t)` |
| `issubset(t)`             | Checks subset       | `s.issubset(t)`             |
| `issuperset(t)`           | Checks superset     | `s.issuperset(t)`           |

In [44]:
# Removing duplicate entries:

data = [1, 2, 2, 3, 3]
unique = set(data)
print(data)
print(unique)

[1, 2, 2, 3, 3]
{1, 2, 3}

In [43]:
# Tracking unique visitors:

visitors = {"user1", "user2", "user1"}
print(visitors)
print(type(visitors))

{'user1', 'user2'}
<class 'set'>

In [42]:
# Finding common students in two courses:

courseA = {"Ali", "Sara"}
courseB = {"Sara", "Zain"}
common = courseA.intersection(courseB)
print(common)

{'Sara'}

In [41]:
# Tag management in blogs:

tags = {"Python", "AI", "ML"}
tags.add("Coding")
print(tags)

{'Coding', 'ML', 'AI', 'Python'}

In [40]:
# Finding differences between two datasets:

old = {1,2,3}
new = {2,3,4}
removed = old.difference(new)
print(removed)

{1}

In [39]:
# Detecting duplicates in file uploads:

files = ["a.jpg", "b.jpg", "a.jpg"]
unique_files = set(files)
print(files)
print(unique_files)

['a.jpg', 'b.jpg', 'a.jpg']
{'b.jpg', 'a.jpg'}

In [38]:
# Managing access roles:

roles = {"read", "write"}
roles.add("delete")
print(roles)

{'delete', 'read', 'write'}

In [37]:
# Finding students missing from class:

all_students = {"Ali", "Sara", "Zain"}
present = {"Ali", "Sara"}
absent = all_students.difference(present)
print(absent)
print(present)

{'Zain'}
{'Ali', 'Sara'}

In [34]:
# Unique product categories:

categories = {"Clothing", "Electronics", "Clothing"}
print(categories)

{'Electronics', 'Clothing'}

In [35]:
# Keyword extraction from text:

words = set("python is fun and python is powerful".split())
print(words)

{'and', 'python', 'powerful', 'is', 'fun'}

# ***üß† Summary Table***

| Data Structure | Ordered       | Mutable | Allows Duplicates | Keys/Index  | Common Use              |
| -------------- | ------------- | ------- | ----------------- | ----------- | ----------------------- |
| **List**       | ‚úÖ Yes         | ‚úÖ Yes   | ‚úÖ Yes             | Index-based | To-do list, records     |
| **Tuple**      | ‚úÖ Yes         | ‚ùå No    | ‚úÖ Yes             | Index-based | Fixed info, coordinates |
| **Dictionary** | ‚úÖ (since 3.6) | ‚úÖ Yes   | ‚ùå (Keys unique)   | Key-based   | Data mapping            |
| **Set**        | ‚ùå No          | ‚úÖ Yes   | ‚ùå No              | None        | Unique collections      |