<a href="https://colab.research.google.com/github/Sarim2255/-Python-Programs-Basics-to-OOP/blob/main/python_pattern_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Right Angled Triangle Pattern***

In [2]:
n = int(input("Enter the number of rows:"))
for i in range(1,user_input+1):
  for j in range(i):
    print("*",end=" ")
  print()

Enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

# ***Inverted Right Angled Triangle***

In [4]:
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  for j in range(n+1-i):
    print("*",end=" ")
  print()

Enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

# ***Pyramid Pattern***

In [7]:
# Method - 1
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  for j in range(i):
    if i%2 == 0:
      continue
    print("*",end=" ")
  print()

Enter the number of rows:10
*

* * *

* * * * *

* * * * * * *

* * * * * * * * *

In [10]:
# Method - 2
n = int(input("Enter the number of rows:"))
for i in range(1, n+1):
  print(''*(n-i)+'*'*(2*i-1))

Enter the number of rows:6
*
***
*****
*******
*********
***********

In [14]:
# Method - 3
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  if i%2==0:
    continue
  for j in range(i):
    print("*",end=" ")
  print()

Enter the number of rows:10
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [38]:
# Method - 4
for i in range(5):
  for j in range(i+1):
    print("*",end="")
  else:
    print('',end=" ")
  print()

*
**
***
****
*****

In [67]:
# Method - 4
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

# ***Inverted Pyramid Pattern***

In [15]:
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  if i%2==0:
    continue
  for j in range(n-i):
    print("*",end=" ")
  print()

Enter the number of rows:10
* * * * * * * * *
* * * * * * *
* * * * *
* * *
*

# *Diamond Pattern*

In [20]:
# Method - 1
n = int(input("Enter the diamond size:"))
for i in range(1,n):
  if i%2==0:
    continue
  for j in range(i):
    print("*",end=" ")
  print()
for i in range(1,n):
  if i%2==0:
    continue
  for j in range(n-1-i):
    print("*",end=" ")
  print()

Enter the diamond size:10
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * *
* * * *
* *

In [21]:
# Method - 2
n = int(input("Enter the diamond size"))
for i in range(1,n+1,2):
  print("*"*i)
for i in range(n-2,0,-2):
  print("*"*i)

Enter the diamond size9
*
***
*****
*******
*********
*******
*****
***
*

# ***Hallow Square Pattern***

In [27]:
n = int(input("Enter the number of rows:"))
for i in range(n):
  for j in range(n):
    if i==0 or i==4 or j==0 or j==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

Enter the number of rows:5
* * * * *
*       *
*       *
*       *
* * * * *

In [68]:
n = 5
for i in range(n,0,-1):
  for j in range(n-i):
    print(' ',end=' ')
  for j in range(2*i-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [30]:
n = int(input("Enter the number of rows:"))
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

Enter the number of rows:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# ***Number Pattern***

In [39]:
# Method - 1
n = int(input("Enter a number:"))
for i in range(1,n):
  for j in range(1,n+1-i):
    print(j,end=" ")
  print()

Enter a number:6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [40]:
# Method - 2
n = int(input("Enter a number:"))
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter a number:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [66]:
# Method - 3
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [41]:
# Method - 4
n = int(input("Enter a number:"))
for i in range(1,n):
  for j in range(i,i*2):
    print(j,end=" ")
  print()

Enter a number:8
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11
7 8 9 10 11 12 13

In [42]:
# Method - 5
num = 1
for i in range(1,6):
  for j in range(1,i+1):
    print(num,end=' ')
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# ***Hollow Shapes & Complex Patterns***

In [55]:
# Pattern - 1
for i in range(1, 6):
    for j in range(1, i + 1):
        if j == 1 or j == i or i == 5:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [57]:
# Pattern - 2
for i in range(1, 6):
    for j in range(5-i):
      print(" ", end=" ")
    for j in range(2*i-1):
        if j == 0 or j == 2*i-2 or i == 5:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [59]:
# Pattern - 3
for i in range(1,6):
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    if j==0 or j==2*i-2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()
for i in range(4,0,-1):
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    if j==0 or j==2*i-2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [60]:
# Pattern - 4
for i in range(1,6):
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    if j==0 or j==2*i-2:
      print(i,end=" ")
    else:
      print(" ",end=" ")
  print()
for i in range(4,0,-1):
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    if j==0 or j==2*i-2:
      print(i,end=" ")
    else:
      print(" ",end=" ")
  print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

In [61]:
# Pattern - 4
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for j in range(2*(n-i)):
    print(' ',end=" ")
  for j in range(1,i+1):
    print(j,end=' ')
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [62]:
# Pattern - 5
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=' ')
  for j in range(2*(n-i)):
    print(' ',end=" ")
  for j in range(1,i+1):
    print("*",end=' ')
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [63]:
# Pattern - 6
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for j in range(2*(n-i)):
    print(' ',end=" ")
  for j in range(1,i+1):
    print(j,end=' ')
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print()

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=' ')
  for j in range(2*(n-i)):
    print(' ',end=" ")
  for j in range(1,i+1):
    print("*",end=' ')
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [64]:
# Pattern - 7
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print(' ',end=' ')
  for j in range(1,2*i):
    if j==1 or j==2*i-1 or i==5:
      print(i,end=" ")
    else:
      print(' ',end=" ")
  print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

In [65]:
# Pattern - 8
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print(' ',end=' ')
  for j in range(1,2*i):
    if j==1 or j==2*i-1 or i==5:
      print("*",end=" ")
    else:
      print(' ',end=" ")
  print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *