<a href="https://colab.research.google.com/github/Sarim2255/-Python-Programs-Basics-to-OOP/blob/main/02_control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# ***ðŸ§­ CONTROL FLOW IN PYTHON***

Control flow decides which part of your program runs and when.
It includes:

-  Conditional Statements â†’ Making decisions

-  Loops â†’ Repeating tasks

-  Nested Loops â†’ Loops inside loops (used in patterns, tables, etc.)

# *âš¡ 1. CONDITIONAL STATEMENTS (if, elif, else)*

Conditional statements help a program take decisions based on conditions (True or False).

âœ… Syntax:



```
 if condition1:
    # Code if condition1 is true
elif condition2:
    # Code if condition1 is false but condition2 is true
else:
    # Code if all above conditions are false
```

ðŸ§  Explanation:

-  if â†’ checks a condition; runs code if True

-  elif â†’ checks next condition if previous was False

-  else â†’ runs if none of the above are True

In [1]:
# Example 1: Temperature Check
temp = 35
if temp > 30:
    print("It's a hot day")
elif temp > 20:
    print("It's a pleasant day")
else:
    print("It's a cold day")

It's a hot day

In [2]:
# Example 2: Exam Result
marks = 72
if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: Fail")

Grade: C

In [3]:
# Example 3: ATM Withdrawal
balance = 5000
withdraw = 2000

if withdraw <= balance:
    print("Withdrawal Successful")
else:
    print("Insufficient Balance")

Withdrawal Successful

In [4]:
# Example 4: Login Authentication
username = "admin"
password = "1234"

if username == "admin" and password == "1234":
    print("Login Successful")
else:
    print("Invalid Credentials")

Login Successful

In [5]:
# Example 5: Traffic Signal
signal = "Red"

if signal == "Red":
    print("Stop")
elif signal == "Yellow":
    print("Wait")
else:
    print("Go")

Stop

# *ðŸ” 2. LOOPS (for, while)*

Loops help to repeat a block of code multiple times without writing it again and again.

***ðŸ”¹ for Loop***

Used to iterate over a sequence (like list, string, range).

Syntax:


```
for variable in sequence:
    # code to execute
```

In [6]:
# Example 1: Print Numbers 1â€“5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [7]:
# Example 2: Print Each Character in a Name
for ch in "Sarim":
    print(ch)

S
a
r
i
m

In [8]:
# Example 3: Sum of List Elements
numbers = [2, 4, 6, 8]
total = 0
for n in numbers:
    total += n
print("Sum:", total)

Sum: 20

In [9]:
# Example 4: Display Even Numbers
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [10]:
# Example 5: Print Multiplication Table
n = 5
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

***ðŸ”¹ while Loop***

Used when you donâ€™t know beforehand how many times to run the loop.
It continues until the condition becomes False.

Syntax:

```
while condition:
    # code to execute
```

In [11]:
# Example 1: Countdown
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [12]:
# Example 2: Login Until Correct Password
password = ""
while password != "admin123":
    password = input("Enter password: ")
print("Access Granted!")

Enter password: admin123
Access Granted!

In [13]:
# Example 3: Sum Until User Enters 0
total = 0
num = int(input("Enter number: "))
while num != 0:
    total += num
    num = int(input("Enter number: "))
print("Total =", total)

Enter number: 5
Enter number: 4
Enter number: 3
Enter number: 2
Enter number: 1
Enter number: 0
Total = 15

In [14]:
# Example 4: Track Battery Drain
battery = 100
while battery > 0:
    print("Battery:", battery)
    battery -= 20
print("Battery Dead!")

Battery: 100
Battery: 80
Battery: 60
Battery: 40
Battery: 20
Battery Dead!

In [15]:
# Example 5: Repeated Reminder
count = 0
while count < 3:
    print("Please wear your mask!")
    count += 1

Please wear your mask!
Please wear your mask!
Please wear your mask!

***ðŸ” 3. NESTED LOOPS***

A loop inside another loop.
Used for patterns, grids, matrix operations, or tables.

Syntax:
```
for i in range(outer):
    for j in range(inner):
        # nested code
```

In [16]:
# Example 1: Multiplication Table (All Numbers)
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [17]:
# Example 2: Seat Arrangement
for row in range(1, 4):
    for seat in range(1, 6):
        print(f"Row {row} Seat {seat}", end="  ")
    print()

Row 1 Seat 1  Row 1 Seat 2  Row 1 Seat 3  Row 1 Seat 4  Row 1 Seat 5
Row 2 Seat 1  Row 2 Seat 2  Row 2 Seat 3  Row 2 Seat 4  Row 2 Seat 5
Row 3 Seat 1  Row 3 Seat 2  Row 3 Seat 3  Row 3 Seat 4  Row 3 Seat 5

In [18]:
# Example 3: Matrix Printing
matrix = [[1,2,3], [4,5,6], [7,8,9]]
for row in matrix:
    for col in row:
        print(col, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [19]:
# Example 4: Pattern - Right Triangle
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [21]:
# Example 5: Pattern - Number Pyramid
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# ***ðŸŽ¨ 4. PATTERNS (Stars / Numbers / Characters)***


Patterns are mostly created using nested loops.

In [22]:
# Example 1: Right-Angled Triangle
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [23]:
# Example 2: Inverted Triangle
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

In [25]:
# Example 3: Pyramid Pattern
for i in range(1, 6):
    print(" "*(5-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [26]:
# Example 4: Number Triangle
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [27]:
# Example 5: Character Pattern
for i in range(65, 70):  # ASCII values of Aâ€“E
    for j in range(65, i+1):
        print(chr(j), end="")
    print()

A
AB
ABC
ABCD
ABCDE

Summary
| Concept          | Purpose                      | Common Keywords       | Used In                    |
| ---------------- | ---------------------------- | --------------------- | -------------------------- |
| `if, elif, else` | Decision making              | Logical checks        | Authentication, Validation |
| `for loop`       | Repetition over sequence     | range(), list, string | Counting, Tables           |
| `while loop`     | Repeat until condition fails | True/False checks     | Games, Repeated input      |
| Nested Loops     | Loops inside loops           | forâ€¦forâ€¦              | Patterns, Matrices         |
| Patterns         | Visual structure output      | print(), range()      | Practice, Visual logic     |