<a href="https://colab.research.google.com/github/Sarim2255/-Ultimate-Python-Guide/blob/main/programs/basic_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUCTION TO PYTHON PROGRAMMING

**Program to print "Hello, World!".**

In [ ]:
print("Hello, World!")

Hello, World!

**Program to take user input and display it.**

In [ ]:
n = input("Enter something: ")
print(n)

Enter something: Good Morning
Good Morning

**Program to swap two number with third variable.**

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
temp = a
a = b
b = temp
print("Afer swap: A:",a,"B: ",b)

Enter first number: 5
Enter second number: 4
Afer swap: A: 4 B:  5

**Program to swap two number without third variable.**

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a,b = b,a
print("Afer swap: A:",a,"B: ",b)

Enter first number: 4
Enter second number: 5
Afer swap: A: 5 B:  4

**Program to find the square and cube of a number.**

In [ ]:
num = int(input("Enter the number: "))
sq = num **2
cu = num **3
print("Square:",sq)
print("Cube:",cu)

Enter the number: 5
Square: 25
Cube: 125

**Program to perform basic arithmetic operations (+, –, ×, ÷).**

In [ ]:
a = int(input("Enter first operand: "))
b = int(input("Enter second operand: "))
print("Addition",a+b)
print("substraction",a-b)
print("Multiplication",a*b)
print("Division",a/b)

Enter first operand: 45
Enter second operand: 9
Addition 54
substraction 36
Multiplication 405
Division 5.0

**Program to calculate simple interest and compound interest**

In [ ]:
# interest.py
p = float(input("Principal (P): "))
r = float(input("Rate (%) per year (r): "))
t = float(input("Time (years) (t): "))

simple_interest = p * r * t / 100
print("Simple Interest:", simple_interest)

# Compound interest (compounded annually):
amount = p * (1 + r/100)**t
compound_interest = amount - p
print("Amount:", amount)
print("Compound Interest:", compound_interest)

Principal (P): 100
Rate (%) per year (r): 5
Time (years) (t): 2
Simple Interest: 10.0
Amount: 110.25
Compound Interest: 10.25

**Program to convert temperature from Celsius to Fahrenheit.**

In [ ]:
c = float(input("Celsius: "))
f = (c * 9/5) + 32
print(f"{c}°C = {f}°F")

Celsius: 145
145.0°C = 293.0°F

**Program to check if a number is even or odd.**

In [ ]:
n = int(input("Enter number: "))
if n%2==0:
  print("Even")
else:
  print("Odd")

Enter number: 78
Even

**Program to check if a number is positive, negative, or zero.**

In [ ]:
# pos_neg_zero.py
n = float(input("Enter number: "))
if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

Enter number: -8
Negative

**Program to find the largest of two numbers.**

In [ ]:
a = float(input("Enter number: "))
b = float(input("Enter number: "))
if a>b:
  print("A is largest")
else:
  print("B is largest")

Enter number: 5
Enter number: 8
B is largest

**Program to find the largest among three numbers.**

In [ ]:
a = float(input("Enter number: "))
b = float(input("Enter number: "))
c = float(input("Enter number: "))
if a>b and a>c:
  print("A is largest")
elif b>a and b>c:
  print("B is largest")
else:
  print("C is largest")

Enter number: 8
Enter number: 7
Enter number: 9
C is largest

**Program to check whether a number is divisible by 5 and 11.**

In [ ]:
num = float(input("Enter number: "))
if num%5==0 and num%11==0:
  print("Divisible by 5 and 11")
elif num%5==0:
  print("Divisible by 5 not by 11")
elif num%11==0:
  print("Divisible by 11 not by 5")
else:
  print("Neither by 11 nor by 5")

Enter number: 55
Divisible by 5 and 11

**Program to check leap year.**

In [ ]:
# leap_year.py
y = int(input("Enter year: "))
if((y % 4 == 0 and y % 100 != 0) or (y % 400 == 0)):
  print("Leap year")
else:
   print("Not a leap year")

Enter year: 2026
Not a leap year

**Program to check whether a character is a vowel or consonant.**

In [ ]:
ch = input("Enter character:").lower()
if ch in "aeiou":
  print("Vowel")
else:
  print("Consonant")

Enter character:Z
Consonant

**Program to calculate the grade of a student based on marks.**

In [ ]:
# grade.py
marks = float(input("Enter marks (out of 100): "))
if marks >= 75:
    grade = "A"
elif marks >= 60:
    grade = "B"
elif marks >= 50:
    grade = "C"
elif marks >= 40:
    grade = "D"
else:
    grade = "F"
print("Grade:", grade)

Enter marks (out of 100): 78
Grade: A

**Program to check whether a given number is prime.**

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number: 79
Prime number

**Program to print the first N natural numbers.**

In [ ]:
num = int(input("Enter a number: "))
s = 0
for i in range(1,num+1):
  print(i,end=" ")

Enter a number: 5
1 2 3 4 5

**Program to print multiplication table of any number.**

In [ ]:
num = int(input("Enter the number:"))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

Enter the number:18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

**Program to calculate the sum of first N natural numbers.**

In [ ]:
num = int(input("Enter a number: "))
s = 0
for i in range(1,num+1):
  s += i
print(f"The sum of {num} natural number is {s}")

Enter a number: 10
The sum of 10 natural number is 55

**Program to calculate the factorial of a number.**

In [ ]:
n = int(input("Enter a number: "))
f = 1
for i in range(1,n+1):
  f *= i
print(f"Factorial of {n} is {f}")

Enter a number: 6
Factorial of 6 is 720

**Program to generate the Fibonacci series.**

In [ ]:
# fibonacci.py
n = int(input("Number of terms N: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Number of terms N: 6
0 1 1 2 3 5

**Program to count the number of digits in a given integer.**

In [ ]:
num = int(input("Enter a number: "))

count = 0

if num == 0:
    count = 1
else:
    while num != 0:
        num //= 10
        count += 1

print("Number of digits:", count)

Enter a number: 789
Number of digits: 3

**Program to reverse a number using a loop.**

In [3]:
n = int(input("Enter your number:"))
s=0
while (n!=0):
  r=n%10
  s=s*10+r
  n=n//10
print(f"Reverse of number is {s}")

Enter your number:0987
Reverse of number is 789

**Program to find the length of a string without using len().**

In [4]:
s = input("Enter a string: ")

count = 0
for char in s:
    count += 1

print("Length of string:", count)

Enter a string: veronca
Length of string: 7

**Program to count vowels, consonants, digits, and special characters.**

In [5]:
s = input("Enter a string: ")

vowels = 0
consonants = 0
digits = 0
special = 0

for ch in s:
    if ch.isdigit():
        digits += 1
    elif ch.isalpha():
        if ch.lower() in "aeiou":
            vowels += 1
        else:
            consonants += 1
    else:
        special += 1

print("Vowels:", vowels)
print("Consonants:", consonants)
print("Digits:", digits)
print("Special Characters:", special)

Enter a string: I AM IRON MAN
Vowels: 5
Consonants: 5
Digits: 0
Special Characters: 3

**Program to reverse a string.**

In [6]:
# reverse_string.py
s = input("Enter string: ")
print("Reversed:", s[::-1])

Enter string: IRON MAN
Reversed: NAM NORI

**Program to check whether a string is palindrome.**

In [7]:
str = input("Enter your number:").lower()
if str == str[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter your number:madam
Palindrome

**Program to count the frequency of each character in a string.**

In [8]:
# freq_chars.py
s = input("Enter string: ")
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
for ch, count in freq.items():
    print(f"'{ch}': {count}")

Enter string: IRON MAN
'I': 1
'R': 1
'O': 1
'N': 2
' ': 1
'M': 1
'A': 1

**Program to define a function to add two numbers.**

In [9]:
# add_function.py
def add(a, b):
    return a + b

x = float(input("a: "))
y = float(input("b: "))
print("Sum:", add(x, y))

a: 89
b: 90
Sum: 179.0

**Program to define a function to find the factorial of a number.**

In [10]:
# factorial_func_rec.py
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

print(factorial(int(input("n: "))))

n: 6
720